src/main/resources/org/nexuse2e/integration/EngineStatusInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://integration.nexuse2e.org" xmlns:tns="http://integration.nexuse2e.org"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://integration.nexuse2e.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
      elementFormDefault="qualified" targetNamespace="http://integration.nexuse2e.org">
      <xsd:element name="getEngineStatus">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getEngineStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="EngineStatusSummary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EngineStatusSummary">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="cause" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="databaseStatus" nillable="true" type="tns:Status" />
          <xsd:element minOccurs="0" name="inboundStatus" nillable="true" type="tns:Status" />
          <xsd:element minOccurs="0" name="outboundStatus" nillable="true" type="tns:Status" />
          <xsd:element minOccurs="0" name="status" nillable="true" type="tns:Status" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ERROR" />
          <xsd:enumeration value="UNKNOWN" />
          <xsd:enumeration value="INACTIVE" />
          <xsd:enumeration value="ACTIVE" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getEngineStatusResponse">
    <wsdl:part name="parameters" element="tns:getEngineStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getEngineStatusRequest">
    <wsdl:part name="parameters" element="tns:getEngineStatus" />
  </wsdl:message>
  <wsdl:portType name="EngineStatusInterfacePortType">

    <wsdl:operation name="getEngineStatus">
      <wsdl:input name="getEngineStatusRequest" message="tns:getEngineStatusRequest" />
      <wsdl:output name="getEngineStatusResponse" message="tns:getEngineStatusResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EngineStatusInterfaceHttpBinding" type="tns:EngineStatusInterfacePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEngineStatus">
      <wsdlsoap:operation soapAction="" />

      <wsdl:input name="getEngineStatusRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEngineStatusResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EngineStatusInterface">

    <wsdl:port name="EngineStatusInterfaceHttpPort" binding="tns:EngineStatusInterfaceHttpBinding">
      <wsdlsoap:address location="http://localhost:8080/NEXUSe2e/webservice/EngineStatusInterface" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
