nexuse2e-core/src/main/resources/org/nexuse2e/integration/NEXUSe2eInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

     NEXUSe2e Business Messaging Open Source
     Copyright 2000-2009, Tamgroup and X-ioma GmbH

     This is free software; you can redistribute it and/or modify it
     under the terms of the GNU Lesser General Public License as
     published by the Free Software Foundation version 2.1 of
     the License.

     This software is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
     Lesser General Public License for more details.

     You should have received a copy of the GNU Lesser General Public
     License along with this software; if not, write to the Free
     Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
     02110-1301 USA, or see the FSF site: http://www.fsf.org.

-->
<wsdl:definitions targetNamespace="http://integration.nexuse2e.org/NEXUSe2eInfo/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
    xmlns:ws="http://integration.nexuse2e.org/NEXUSe2eInfo/">
    
    <wsp:UsingPolicy xmlns:n1="http://schemas.xmlsoap.org/wsdl/" n1:Required="false"/>
    
    <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
            targetNamespace="http://integration.nexuse2e.org/NEXUSe2eInfo/">
            <xsd:element name="getNexusVersion" />
            <xsd:element name="nexusVersion">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="1">
                        <xsd:element name="version" type="xsd:string" />
                        <xsd:element name="buildDate" type="xsd:date"/>
                        <xsd:element name="javaVersion" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="uptime">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element name="days" type="xsd:int" />
                    <xsd:element name="hours" type="xsd:int" />
                    <xsd:element name="minutes" type="xsd:int" />
                    <xsd:element name="seconds" type="xsd:int" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getNexusUptime" />
            <xsd:element name="nexusUptime">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="serviceUptime" type="ws:uptime" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="engineUptime" type="ws:uptime" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="logLevel">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ALL"/>
                    <xsd:enumeration value="TRACE"/>
                    <xsd:enumeration value="DEBUG"/>
                    <xsd:enumeration value="INFO"/>
                    <xsd:enumeration value="WARN"/>
                    <xsd:enumeration value="ERROR"/>
                    <xsd:enumeration value="FATAL"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="getLogMessageCounts">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="pastMinutes" type="xsd:int" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="minLogLevel" type="ws:logLevel" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="maxLogLevel" type="ws:logLevel" minOccurs="0" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="logMessageCounts">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="logMessageCount">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:int">
                                        <xsd:attribute name="logLevel" use="required" type="ws:logLevel"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getLogMessages">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="pastMinutes" type="xsd:int" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="maximumMessages" type="xsd:int" minOccurs="0" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="logMessages">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="logMessage">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="logLevel" use="required" type="ws:logLevel"/>
                                        <xsd:attribute name="timestamp" use="required" type="xsd:dateTime"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="statisticsItem">
                <xsd:sequence maxOccurs="1">
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="quantity" type="xsd:int" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="statisticsResponse">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="ws:statisticsItem"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getMessageStatesLast24Hours" />
            <xsd:element name="getConversationStatesLast24Hours" />
            <xsd:element name="getMessagesPerChoreographyLast24Hours" />
            <xsd:element name="getMessagesPerHourLast24Hours" />
            <xsd:element name="getChoreographies" />
            <xsd:element name="choreographies">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="choreography" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getActions">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="choreography" minOccurs="1" maxOccurs="1" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="actions">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="action" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getParticipants">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="choreography" minOccurs="1" maxOccurs="1" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="participants">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="participant" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getEngineStatus"/>
            <xsd:simpleType name="engineStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ERROR"/>
                    <xsd:enumeration value="UNDEFINED"/>
                    <xsd:enumeration value="INSTANTIATED"/>
                    <xsd:enumeration value="INITIALIZED"/>
                    <xsd:enumeration value="ACTIVATED"/>
                    <xsd:enumeration value="STARTED"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="getEngineStatusResponse">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="status" type="ws:engineStatus" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="restartEngine"/>
            <xsd:simpleType name="restartEngineResult">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="SUCCESS"/>
                    <xsd:enumeration value="ERROR"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="restartEngineResponse">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="result" type="ws:restartEngineResult" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendNewStringMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="choreographyId" nillable="true" type="xsd:string" />
                        <xsd:element maxOccurs="1" minOccurs="1" name="businessPartnerId" nillable="true" type="xsd:string" />
                        <xsd:element maxOccurs="1" minOccurs="1" name="actionId" nillable="true" type="xsd:string" />
                        <xsd:element maxOccurs="1" minOccurs="1" name="payload" nillable="true" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendNewStringMessageResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="conversationId" nillable="true" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="requeueMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="messageId" nillable="true" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="requeueMessageResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="requeueResult" maxOccurs="1" minOccurs="1">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="SUCCESS"/>
                                    <xsd:enumeration value="ERROR"/>
                                    <xsd:enumeration value="NOT_FOUND"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="requeueResultMessage" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="stopMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="messageId" nillable="true" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="stopMessageResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="stopResult" maxOccurs="1" minOccurs="1">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="SUCCESS"/>
                                    <xsd:enumeration value="ERROR"/>
                                    <xsd:enumeration value="NOT_FOUND"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="stopResultMessage" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="conversationStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ERROR"/>
                    <xsd:enumeration value="UNKNOWN"/>
                    <xsd:enumeration value="CREATED"/>
                    <xsd:enumeration value="PROCESSING"/>
                    <xsd:enumeration value="AWAITING_ACK"/>
                    <xsd:enumeration value="SENDING_ACK"/>
                    <xsd:enumeration value="ACK_SENT_AWAITING_BACKEND"/>
                    <xsd:enumeration value="AWAITING_BACKEND"/>
                    <xsd:enumeration value="BACKEND_SENT_SENDING_ACK"/>
                    <xsd:enumeration value="COMPLETED"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="messageType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="UNKNOWN"/>
                    <xsd:enumeration value="NORMAL"/>
                    <xsd:enumeration value="ACK"/>
                    <xsd:enumeration value="ERROR"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="messageStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="FAILED"/>
                    <xsd:enumeration value="UNKNOWN"/>
                    <xsd:enumeration value="RETRYING"/>
                    <xsd:enumeration value="QUEUED"/>
                    <xsd:enumeration value="SENT"/>
                    <xsd:enumeration value="STOPPED"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="conversationFilter">
                <xsd:sequence>
                  <xsd:element maxOccurs="1" minOccurs="0" name="status" nillable="true" type="ws:conversationStatus" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="choreographyId" nillable="true" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="businessPartnerId" nillable="true" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="conversationId" nillable="true" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="afterDate" nillable="true" type="xsd:dateTime" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="beforeDate" nillable="true" type="xsd:dateTime" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="itemsPerPage" nillable="true" type="xsd:int" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="pageNumber" nillable="true" type="xsd:int" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="ascending" nillable="true" type="xsd:boolean" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="messageFilter">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="status" nillable="true" type="ws:messageStatus" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="choreographyId" nillable="true" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="businessPartnerId" nillable="true" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="conversationId" nillable="true" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="messageId" nillable="true" type="xsd:string" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="type" nillable="true" type="ws:messageType" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="afterDate" nillable="true" type="xsd:dateTime" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="beforeDate" nillable="true" type="xsd:dateTime" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="itemsPerPage" nillable="true" type="xsd:int" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="pageNumber" nillable="true" type="xsd:int" />
                    <xsd:element maxOccurs="1" minOccurs="0" name="ascending" nillable="true" type="xsd:boolean" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="trp">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element minOccurs="1" maxOccurs="1" name="protocol" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="version" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="transport" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="messagePayload">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:base64Binary">
                        <xsd:attribute name="id" use="required" type="xsd:string"/>
                        <xsd:attribute name="sequenceNumber" use="required" type="xsd:int"/>
                        <xsd:attribute name="size" use="optional" type="xsd:int"/>
                        <xsd:attribute name="charset" use="optional" type="xsd:string"/>
                        <xsd:attribute name="payloadIncluded" use="required" type="xsd:boolean"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="messagePayloads">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="payload" type="ws:messagePayload"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="messageDetails">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element name="trp" type="ws:trp" />
                    <xsd:element name="payloads" type="ws:messagePayloads"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="message">
                <xsd:complexContent>
                    <xsd:extension base="ws:messageDetails">
                        <xsd:attribute name="id" use="required" type="xsd:string"/>
                        <xsd:attribute name="outbound" use="required" type="xsd:boolean"/>
                        <xsd:attribute name="type" use="required" type="ws:messageType"/>
                        <xsd:attribute name="status" use="required" type="ws:messageStatus"/>
                        <xsd:attribute name="retries" use="required" type="xsd:int"/>
                        <xsd:attribute name="actionId" use="required" type="xsd:string"/>
                        <xsd:attribute name="choreographyId" use="optional" type="xsd:string"/>
                        <xsd:attribute name="createdDate" use="required" type="xsd:dateTime" />
                        <xsd:attribute name="modifiedDate" use="required" type="xsd:dateTime" />
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="messages">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="message" type="ws:message" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="conversationMessages">
                <xsd:sequence>
                    <xsd:element name="messages" type="ws:messages" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="conversation">
                <xsd:complexContent>
                    <xsd:extension base="ws:conversationMessages">
                        <xsd:attribute name="id" use="required" type="xsd:string"/>
                        <xsd:attribute name="choreographyId" use="required" type="xsd:string" />
                        <xsd:attribute name="businessPartnerId" use="required" type="xsd:string" />
                        <xsd:attribute name="status" use="required" type="ws:conversationStatus" />
                        <xsd:attribute name="currentActionId" use="required" type="xsd:string" />
                        <xsd:attribute name="createdDate" use="required" type="xsd:dateTime" />
                        <xsd:attribute name="modifiedDate" use="required" type="xsd:dateTime" />
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="getConversations">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="conversationFilter" type="ws:conversationFilter" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getConversationsResponse">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="conversation" minOccurs="0" maxOccurs="unbounded" type="ws:conversation"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getConversationCount">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="conversationFilter" type="ws:conversationFilter" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getConversationCountResponse">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="count" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getMessages">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="messageFilter" type="ws:messageFilter" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getMessagesResponse">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="messages" type="ws:messages"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getMessageCount">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="messageFilter" type="ws:messageFilter" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getMessageCountResponse">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="count" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getConversationLogMessages">
                <xsd:complexType>
                    <xs:sequence>
                        <xsd:element name="itemsPerPage" maxOccurs="1" minOccurs="0" nillable="true" type="xsd:int" />
                        <xsd:element name="pageNumber" maxOccurs="1" minOccurs="0" nillable="true" type="xsd:int" />
                        <xs:choice>
                            <xsd:element name="conversationId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                            <xsd:element name="messageId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        </xs:choice>
                    </xs:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getConversationLogMessageCount">
                <xsd:complexType>
                    <xs:choice>
                        <xsd:element name="conversationId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="messageId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    </xs:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getConversationLogMessageCountResponse">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="count" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getNexusVersion">
        <wsdl:part element="ws:getNexusVersion" name="getNexusVersion" />
    </wsdl:message>
    <wsdl:message name="getNexusVersionResponse">
        <wsdl:part element="ws:nexusVersion" name="nexusVersion" />
    </wsdl:message>
    <wsdl:message name="getNexusUptime">
        <wsdl:part element="ws:getNexusUptime" name="getNexusUptime" />
    </wsdl:message>
    <wsdl:message name="getNexusUptimeResponse">
        <wsdl:part element="ws:nexusUptime" name="nexusUptime" />
    </wsdl:message>
    <wsdl:message name="getLogMessageCounts">
        <wsdl:part element="ws:getLogMessageCounts" name="getLogMessageCounts" />
    </wsdl:message>
    <wsdl:message name="getLogMessageCountsResponse">
        <wsdl:part element="ws:logMessageCounts" name="logMessageCounts" />
    </wsdl:message>
    <wsdl:message name="getLogMessages">
        <wsdl:part element="ws:getLogMessages" name="getLogMessages" />
    </wsdl:message>
    <wsdl:message name="getLogMessagesResponse">
        <wsdl:part element="ws:logMessages" name="logMessages" />
    </wsdl:message>
    <wsdl:message name="getMessageStatesLast24Hours">
        <wsdl:part element="ws:getMessageStatesLast24Hours" name="getMessageStatesLast24Hours" />
    </wsdl:message>
    <wsdl:message name="getMessageStatesLast24HoursResponse">
        <wsdl:part element="ws:statisticsResponse" name="statisticsResponse" />
    </wsdl:message>
    <wsdl:message name="getConversationStatesLast24Hours">
        <wsdl:part element="ws:getConversationStatesLast24Hours" name="getConversationStatesLast24Hours" />
    </wsdl:message>
    <wsdl:message name="getConversationStatesLast24HoursResponse">
        <wsdl:part element="ws:statisticsResponse" name="statisticsResponse" />
    </wsdl:message>
    <wsdl:message name="getMessagesPerChoreographyLast24Hours">
        <wsdl:part element="ws:getMessagesPerChoreographyLast24Hours" name="getMessagesPerChoreographyLast24Hours" />
    </wsdl:message>
    <wsdl:message name="getMessagesPerChoreographyLast24HoursResponse">
        <wsdl:part element="ws:statisticsResponse" name="statisticsResponse" />
    </wsdl:message>
    <wsdl:message name="getMessagesPerHourLast24Hours">
        <wsdl:part element="ws:getMessagesPerHourLast24Hours" name="getMessagesPerHourLast24Hours" />
    </wsdl:message>
    <wsdl:message name="getMessagesPerHourLast24HoursResponse">
        <wsdl:part element="ws:statisticsResponse" name="statisticsResponse" />
    </wsdl:message>
    <wsdl:message name="getChoreographies">
        <wsdl:part element="ws:getChoreographies" name="getChoreographies" />
    </wsdl:message>
    <wsdl:message name="getChoreographiesResponse">
        <wsdl:part element="ws:choreographies" name="choreographies" />
    </wsdl:message>
    <wsdl:message name="getActions">
        <wsdl:part element="ws:getActions" name="getActions" />
    </wsdl:message>
    <wsdl:message name="getActionsResponse">
        <wsdl:part element="ws:actions" name="actions" />
    </wsdl:message>
    <wsdl:message name="getParticipants">
        <wsdl:part element="ws:getParticipants" name="getParticipants" />
    </wsdl:message>
    <wsdl:message name="getParticipantsResponse">
        <wsdl:part element="ws:participants" name="participants" />
    </wsdl:message>
    <wsdl:message name="getEngineStatus">
        <wsdl:part element="ws:getEngineStatus" name="getEngineStatus" />
    </wsdl:message>
    <wsdl:message name="getEngineStatusResponse">
        <wsdl:part element="ws:getEngineStatusResponse" name="getEngineStatusResponse" />
    </wsdl:message>
    <wsdl:message name="restartEngine">
        <wsdl:part element="ws:restartEngine" name="restartEngine" />
    </wsdl:message>
    <wsdl:message name="restartEngineResponse">
        <wsdl:part element="ws:restartEngineResponse" name="restartEngineResponse" />
    </wsdl:message>
    <wsdl:message name="sendNewStringMessage">
        <wsdl:part element="ws:sendNewStringMessage" name="sendNewStringMessage" />
    </wsdl:message>
    <wsdl:message name="sendNewStringMessageResponse">
        <wsdl:part element="ws:sendNewStringMessageResponse" name="sendNewStringMessageResponse" />
    </wsdl:message>
    <wsdl:message name="requeueMessage">
        <wsdl:part element="ws:requeueMessage" name="requeueMessage" />
    </wsdl:message>
    <wsdl:message name="requeueMessageResponse">
        <wsdl:part element="ws:requeueMessageResponse" name="requeueMessageResponse" />
    </wsdl:message>
    <wsdl:message name="stopMessage">
        <wsdl:part element="ws:stopMessage" name="stopMessage" />
    </wsdl:message>
    <wsdl:message name="stopMessageResponse">
        <wsdl:part element="ws:stopMessageResponse" name="stopMessageResponse" />
    </wsdl:message>
    <wsdl:message name="getConversations">
        <wsdl:part element="ws:getConversations" name="getConversations" />
    </wsdl:message>
    <wsdl:message name="getConversationsResponse">
        <wsdl:part element="ws:getConversationsResponse" name="getConversationsResponse" />
    </wsdl:message>
    <wsdl:message name="getConversationCount">
        <wsdl:part element="ws:getConversationCount" name="getConversationCount" />
    </wsdl:message>
    <wsdl:message name="getConversationCountResponse">
        <wsdl:part element="ws:getConversationCountResponse" name="getConversationCountResponse" />
    </wsdl:message>
    <wsdl:message name="getMessages">
        <wsdl:part element="ws:getMessages" name="getMessages" />
    </wsdl:message>
    <wsdl:message name="getMessagesResponse">
        <wsdl:part element="ws:getMessagesResponse" name="getMessagesResponse" />
    </wsdl:message>
    <wsdl:message name="getMessageCount">
        <wsdl:part element="ws:getMessageCount" name="getMessageCount" />
    </wsdl:message>
    <wsdl:message name="getMessageCountResponse">
        <wsdl:part element="ws:getMessageCountResponse" name="getMessageCountResponse" />
    </wsdl:message>
    <wsdl:message name="getConversationLogMessages">
        <wsdl:part element="ws:getConversationLogMessages" name="getConversationLogMessages" />
    </wsdl:message>
    <wsdl:message name="getConversationLogMessagesResponse">
        <wsdl:part element="ws:logMessages" name="logMessages" />
    </wsdl:message>
    <wsdl:message name="getConversationLogMessageCount">
        <wsdl:part element="ws:getConversationLogMessageCount" name="getConversationLogMessageCount" />
    </wsdl:message>
    <wsdl:message name="getConversationLogMessageCountResponse">
        <wsdl:part element="ws:getConversationLogMessageCountResponse" name="getConversationLogMessageCountResponse" />
    </wsdl:message>
    
    <wsdl:portType name="NEXUSe2eInfo">
        <wsdl:operation name="getNexusVersion">
            <wsdl:input message="ws:getNexusVersion" name="getNexusVersion" />
            <wsdl:output message="ws:getNexusVersionResponse" name="getNexusVersionResponse" />
        </wsdl:operation>
        <wsdl:operation name="getNexusUptime">
            <wsdl:input message="ws:getNexusUptime" name="getNexusUptime" />
            <wsdl:output message="ws:getNexusUptimeResponse" name="getNexusUptimeResponse" />
        </wsdl:operation>
        <wsdl:operation name="getLogMessageCounts">
            <wsdl:input message="ws:getLogMessageCounts" name="getLogMessageCounts" />
            <wsdl:output message="ws:getLogMessageCountsResponse" name="getLogMessageCountsResponse" />
        </wsdl:operation>
        <wsdl:operation name="getLogMessages">
            <wsdl:input message="ws:getLogMessages" name="getLogMessages" />
            <wsdl:output message="ws:getLogMessagesResponse" name="getLogMessagesResponse" />
        </wsdl:operation>
        <wsdl:operation name="getMessageStatesLast24Hours">
            <wsdl:input message="ws:getMessageStatesLast24Hours" name="getMessageStatesLast24Hours" />
            <wsdl:output message="ws:getMessageStatesLast24HoursResponse" name="getMessageStatesLast24HoursResponse" />
        </wsdl:operation>
        <wsdl:operation name="getConversationStatesLast24Hours">
            <wsdl:input message="ws:getConversationStatesLast24Hours" name="getConversationStatesLast24Hours" />
            <wsdl:output message="ws:getConversationStatesLast24HoursResponse" name="getConversationStatesLast24HoursResponse" />
        </wsdl:operation>
        <wsdl:operation name="getMessagesPerChoreographyLast24Hours">
            <wsdl:input message="ws:getMessagesPerChoreographyLast24Hours" name="getMessagesPerChoreographyLast24Hours" />
            <wsdl:output message="ws:getMessagesPerChoreographyLast24HoursResponse" name="getMessagesPerChoreographyLast24HoursResponse" />
        </wsdl:operation>
        <wsdl:operation name="getMessagesPerHourLast24Hours">
            <wsdl:input message="ws:getMessagesPerHourLast24Hours" name="getMessagesPerHourLast24Hours" />
            <wsdl:output message="ws:getMessagesPerHourLast24HoursResponse" name="getMessagesPerHourLast24HoursResponse" />
        </wsdl:operation>
        <wsdl:operation name="getChoreographies">
            <wsdl:input message="ws:getChoreographies" name="getChoreographies" />
            <wsdl:output message="ws:getChoreographiesResponse" name="getChoreographiesResponse" />
        </wsdl:operation>
        <wsdl:operation name="getActions">
            <wsdl:input message="ws:getActions" name="getActions" />
            <wsdl:output message="ws:getActionsResponse" name="getActionsResponse" />
        </wsdl:operation>
        <wsdl:operation name="getParticipants">
            <wsdl:input message="ws:getParticipants" name="getParticipants" />
            <wsdl:output message="ws:getParticipantsResponse" name="getParticipantsResponse" />
        </wsdl:operation>
        <wsdl:operation name="getEngineStatus">
            <wsdl:input message="ws:getEngineStatus" name="getEngineStatus" />
            <wsdl:output message="ws:getEngineStatusResponse" name="getEngineStatusResponse" />
        </wsdl:operation>
        <wsdl:operation name="restartEngine">
            <wsdl:input message="ws:restartEngine" name="restartEngine" />
            <wsdl:output message="ws:restartEngineResponse" name="restartEngineResponse" />
        </wsdl:operation>
        <wsdl:operation name="sendNewStringMessage">
            <wsdl:input message="ws:sendNewStringMessage" name="sendNewStringMessage" />
            <wsdl:output message="ws:sendNewStringMessageResponse" name="sendNewStringMessageResponse" />
        </wsdl:operation>
        <wsdl:operation name="requeueMessage">
            <wsdl:input message="ws:requeueMessage" name="requeueMessage" />
            <wsdl:output message="ws:requeueMessageResponse" name="requeueMessageResponse" />
        </wsdl:operation>
        <wsdl:operation name="stopMessage">
            <wsdl:input message="ws:stopMessage" name="stopMessage" />
            <wsdl:output message="ws:stopMessageResponse" name="stopMessageResponse" />
        </wsdl:operation>
        <wsdl:operation name="getConversations">
            <wsdl:input message="ws:getConversations" name="getConversations" />
            <wsdl:output message="ws:getConversationsResponse" name="getConversationsResponse" />
        </wsdl:operation>
        <wsdl:operation name="getConversationCount">
            <wsdl:input message="ws:getConversationCount" name="getConversationCount" />
            <wsdl:output message="ws:getConversationCountResponse" name="getConversationCountResponse" />
        </wsdl:operation>
        <wsdl:operation name="getMessages">
            <wsdl:input message="ws:getMessages" name="getMessages" />
            <wsdl:output message="ws:getMessagesResponse" name="getMessagesResponse" />
        </wsdl:operation>
        <wsdl:operation name="getMessageCount">
            <wsdl:input message="ws:getMessageCount" name="getMessageCount" />
            <wsdl:output message="ws:getMessageCountResponse" name="getMessageCountResponse" />
        </wsdl:operation>
        <wsdl:operation name="getConversationLogMessages">
            <wsdl:input message="ws:getConversationLogMessages" name="getConversationLogMessages" />
            <wsdl:output message="ws:getConversationLogMessagesResponse" name="getConversationLogMessagesResponse" />
        </wsdl:operation>
        <wsdl:operation name="getConversationLogMessageCount">
            <wsdl:input message="ws:getConversationLogMessageCount" name="getConversationLogMessageCount" />
            <wsdl:output message="ws:getConversationLogMessageCountResponse" name="getConversationLogMessageCountResponse" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="NEXUSe2eInfoServiceSoapBinding" type="ws:NEXUSe2eInfo">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        
        <wsdl:operation name="getNexusVersion">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getNexusVersion" style="document" />
            <wsdl:input name="getNexusVersion">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getNexusVersionResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getNexusUptime">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getNexusUptime" style="document" />
            <wsdl:input name="getNexusUptime">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getNexusUptimeResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getLogMessageCounts">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getLogMessageCounts" style="document" />
            <wsdl:input name="getLogMessageCounts">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getLogMessageCountsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getLogMessages">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getLogMessages" style="document" />
            <wsdl:input name="getLogMessages">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getLogMessagesResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getMessageStatesLast24Hours">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getMessageStatesLast24Hours" style="document" />
            <wsdl:input name="getMessageStatesLast24Hours">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getMessageStatesLast24HoursResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getConversationStatesLast24Hours">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getConversationStatesLast24Hours" style="document" />
            <wsdl:input name="getConversationStatesLast24Hours">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getConversationStatesLast24HoursResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getMessagesPerChoreographyLast24Hours">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getMessagesPerChoreographyLast24Hours" style="document" />
            <wsdl:input name="getMessagesPerChoreographyLast24Hours">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getMessagesPerChoreographyLast24HoursResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getMessagesPerHourLast24Hours">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getMessagesPerHourLast24Hours" style="document" />
            <wsdl:input name="getMessagesPerHourLast24Hours">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getMessagesPerHourLast24HoursResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getChoreographies">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getChoreographies" style="document" />
            <wsdl:input name="getChoreographies">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getChoreographiesResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getActions">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getActions" style="document" />
            <wsdl:input name="getActions">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getActionsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getParticipants">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getParticipants" style="document" />
            <wsdl:input name="getParticipants">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getParticipantsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getEngineStatus">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getEngineStatus" style="document" />
            <wsdl:input name="getEngineStatus">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getEngineStatusResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="restartEngine">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/restartEngine" style="document" />
            <wsdl:input name="restartEngine">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="restartEngineResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="sendNewStringMessage">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/sendNewStringMessage" style="document" />
            <wsdl:input name="sendNewStringMessage">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendNewStringMessageResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="requeueMessage">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/requeueMessage" style="document" />
            <wsdl:input name="requeueMessage">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="requeueMessageResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="stopMessage">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/stopMessage" style="document" />
            <wsdl:input name="stopMessage">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="stopMessageResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getConversations">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getConversations" style="document" />
            <wsdl:input name="getConversations">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getConversationsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getConversationCount">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getConversationCount" style="document" />
            <wsdl:input name="getConversationCount">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getConversationCountResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getMessages">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getMessages" style="document" />
            <wsdl:input name="getMessages">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getMessagesResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getMessageCount">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getMessageCount" style="document" />
            <wsdl:input name="getMessageCount">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getMessageCountResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getConversationLogMessages">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getConversationLogMessages" style="document" />
            <wsdl:input name="getConversationLogMessages">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getConversationLogMessagesResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getConversationLogMessageCount">
            <soap:operation soapAction="http://integration.nexuse2e.org/NEXUSe2eInfo/getConversationLogMessageCount" style="document" />
            <wsdl:input name="getConversationLogMessageCount">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getConversationLogMessageCountResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="NEXUSe2eInfoService">
        <wsdl:port binding="ws:NEXUSe2eInfoServiceSoapBinding" name="NEXUSe2eInfoPort">
            <soap:address location="http://localhost:8080/NEXUSe2e/webservice/NEXUSe2eInfo"/>
            <wsp:Policy>
                <wsp:PolicyReference URI="policy:userNameTokenPolicy"/>
            </wsp:Policy>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>